body {
	padding: 0;
	margin: 0;
	background-color: #060E0C;
}

::-webkit-scrollbar{
	width: 0px;
}

.preview {
	height: 250px;
	background-image: url(../img/jumposter_60238a432c203.jpg);
	background-size: 100%;
	position: relative;
}
.preview-content {
	padding: 80px 5% 30px;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.preview-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(6, 14, 12, 0.8);
}
.name {
	font-family: Roboto-Bold;
	color: #F4FFF8;
	font-size: 85px;
}
.descr {
	font-family: Roboto-Bold;
	font-size: 24px;
	color: #D6FFE4;
}
.prize {
	display: flex;
	color: #F4FFF8;
	font-family: Roboto-Bold;
	height: 64px;
	margin-top: 65px;
}
.prize-num {
	font-size: 64px;
}
.prize-cur {
	font-size: 36px;
	margin-top: 27px;
}

.content {
	padding: 60px 0 0 5%;
	display: flex;
	justify-content: space-between;
}

.choice {
	width: 670px;
	/*border: 1px solid #ff0;*/
}
.choice-seans {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.cs-title {
	font-family: Roboto-Medium;
	font-size: 48px;
	color: #F4FFF8;
}
.cs {
	background-color: #060E0C;
	color: #F4FFF8;
	margin-top: 20px;
	height: 25px;
	width: 200px;
	font-family: Roboto-Light;
	font-size: 14px;
	border: 1px solid #F4FFF8;
	cursor: pointer;
}

.bp-text {
	color: #F4FFF8;
	margin-bottom: 30px;
}
.bp-title {
	font-family: Roboto-Medium;
	font-size: 48px;
}
.bp-descr {
	font-family: Roboto-Light;
	font-size: 23px;
}
.places {
	display: flex;
	flex-direction: column;
	margin-left: 150px;
	width: 380px;
}
.places-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.place input {
	display: none;
}
.place label {
	display: inline-block;
	position: relative;
	width: 20px; height: 20px;
	margin-right: 10px;
	cursor: pointer;
}
.place label::before {
	content: '';
	position: absolute;
	background-color: rgba(0,0,0,0);
	border: 1px solid #F4FFF8;
	width: 100%; height: 100%;
	transition: 0.5s;
}
.place input:checked + label::before {
	background-color: rgba(244,255,248,1);
}
.place_ input {
	display: none;
}
.place_ label {
	display: inline-block;
	position: relative;
	width: 20px; height: 20px;
	margin-right: 10px;
	background-color: rgba(244,255,248,0.3);
	cursor: not-allowed;
}

.food {
	margin-top: 60px;
}
.food-title {
	color: #F4FFF8;
	font-family: Roboto-Medium;
	font-size: 48px;
	margin-bottom: 30px;
	line-height: 42px;
}
.food-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 22px;
}
.dish {
	width: 210px;
	height: 50px;
	background-color: rgba(244,255,248,0.5);
	display: flex;
	justify-content: space-between;
	color: #F4FFF8;
	cursor: pointer;
}
.dish-title {
	font-family: Roboto-Bold;
	font-size: 16px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 5px;
}
.dish-dprize {
	padding-right: 5px;
}
.dish-count {
	font-family: Roboto-Light;
	font-size: 24px;
	text-align: center;
}
.dish-prize {
	font-family: Roboto-Light;
	font-size: 12px;
	text-align: center;
}


.orders {
	/*border: 1px solid #fff;*/
	width: 45%;
	padding-left: 30px;
	position: relative;
}
.orders-list {
	height: 860px;
	overflow-y: scroll;
}
.order {
	height: 100px;
	margin-bottom: 10px;
	background-color: rgba(244,255,248,0.3);
	position: relative;
	display: flex;
	justify-content: space-between;
	color: #F4FFF8;
	cursor: default;
}
.order-item {
	display: flex;
}
.order-logo {
	width: 50px;
	height: 100px;
	margin: 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.order-logo img {
	width: 100%; height: 50%;
	margin-bottom: 15px;
}
.order-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: Roboto-Medium;
	font-size: 30px;
	line-height: 30px;
}
.order-tprize {
	margin: 5px 5px 15px 0;
	position: relative;
}
.order-del {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px; height: 30px;
	cursor: pointer;
}
.order-del img {
	width: 100%; height: 100%;
}
.order-prize {
	font-family: Roboto;
	font-size: 24px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.pay-button {
	margin-top: 21px;
	background-color: #BE7C4D;
	height: 50px;
	display: flex;
	justify-content: space-between;
	color: #F4FFF8;
	font-family: Roboto-Medium;
	padding: 0px 5px;
	cursor: pointer;
}
.pay-b-title {
	width: 50%;
	font-family: Roboto-Bold;
	font-size: 48px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;
}
.order-pprize {
	display: flex;
}
.order-b-prize {
	font-size: 36px;
	padding: 0 3px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


@media(max-width: 1240px) {
	.orders {
		width: 40%;
	}
}
@media(max-width: 1144px) {
	.orders {
		width: 35%;
	}
	.order-title {
		font-size: 20px;
		line-height: 20px;
	}
	.order-prize {
		font-size: 20px;
	}
	.pay-b-title {
		font-size: 36px;
	}
	.order-b-prize {
		font-size: 28px;
	}
}
@media(max-width: 1072px) {
	.orders {
		width: 30%;
	}
	.order-title {
		font-size: 16px;
		line-height: 16px;
	}
	.order-prize {
		font-size: 16px;
	}
	.pay-b-title {
		font-size: 24px;
	}
	.order-b-prize {
		font-size: 18px;
	}
}