@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

@font-face {
	font-family: Roboto;
	src: url(../fonts/10626.ttf);
}
@font-face {
	font-family: Roboto-Bold;
	src: url(../fonts/3955.ttf);
}
@font-face {
	font-family: Roboto-Medium;
	src: url(../fonts/3964.ttf);
}
@font-face {
	font-family: Roboto-Light;
	src: url(../fonts/3962.ttf);
}
@font-face {
	font-family: Roboto-Thin;
	src: url(../fonts/3967.ttf);
}