nav {
	display: flex;
	background-color: #BE7C4D;
	height: 70px;
	padding: 0px 5%;
}

nav img.logo {
	padding: 10px 0px;
}

nav .menu {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding-left: 60px;
}

nav .buttons {
	line-height: 70px;
	cursor: pointer;
}

nav .menu img {
	height: 25px;
	padding: 22.5px 0px;
	cursor: pointer;
}

nav a{
	padding: 0px 15px;
	color: #F4FFF8;
	font-family: Roboto;
	font-size: 18px;
	text-decoration: none;
}
nav a:hover{
	color: #D9B296;
	transition: 0.5s;
}